.toast-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

.toast {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: gray; /* Default color */
  opacity: 0.9;
  transition: opacity 0.5s;
}

.toast.success {
  background-color: green;
}

.toast.error {
  background-color: red;
}
