body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.box {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.header {
    grid-column: span 4;
    height: 150px;
    background-color: #D50000;
}

.box1 {
    background-color: #C51162;
    height: 50px;
}

.box2 {
    background-color: #AA00FF;
}

.box3 {
    background-color: #6200EA;
}

.box4 {
    background-color: #304FFE;
}

.box5 {
    grid-column: span 2;
    background-color: #2962FF;
    height: 100px;
}

.box6 {
    grid-column: span 2;
    background-color: #0091EA;
}

.box7 {
    grid-column: span 4;
    background-color: #0091EA;
    height: 100px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .header {
        grid-column: span 2;
        height: 100px;
    }

    .box1 {
        height: 50px;
    }

    .box3 {
        height: 50px;
    }

    .box5 {
        grid-column: span 2;
        height: 100px;
    }

    .box6 {
        grid-column: span 2;
        height: 100px;
    }

    .box7 {
        display: none;
    }
}

@media (max-width: 520px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .header, .box1, .box2, .box3, .box4, .box5, .box6, .box7 {
        grid-column: span 1;
        height: 50px;
    }

    .box7 {
        display: block;
    }
}
