body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#container {
    background-color: #ff7f50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    min-width: 500px;
    width: fit-content;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input[type="number"], input[type="text"], input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #ff6347;
}

.error {
    color: yellow;
    font-size: 12px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #fff;
}

th {
    background-color: #ff4500;
}

#bookForm {
    display: none;
}

#bookTable {
    display: none;
}
